footer{
    width: 80%;
    height: 17vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    .top_footer{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 40%;
        .nav_footer{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 30%;
            ul{
                 display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                width: 70%;
                 li a{
            color: white;
            text-decoration: none;
        }
            }
        }
        .contacts{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 10%;
            li{
                background-color: rgba(196, 196, 196, 0.2);
                width: 46px;
                height: 46px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
    .create_line_footer{
        width: 100%;
        height: 1px;
        background-color: rgba(229, 229, 229, 0.3);
    }
    .bottom_footer{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 40%;
        width: 60%;
    }
}

@media(min-width:320px) and (max-width:425px){
    footer{
        height: 40vh;
        justify-content: space-around;
        .top_footer{
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            height: 35%;
            .contacts{
                align-self: center;
                width: 60%;
            }
            .nav_footer{
                width: 95%;
            }
        }
        .bottom_footer{
            flex-direction: column;
            height: 55%;
        }
    }
}

@media(min-width:426px) and (max-width:768px){
    footer{
        height: 40vh;
        justify-content: space-around;
        .top_footer{
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            height: 35%;
            .contacts{
                align-self: center;
                width: 35%;
            }
            .nav_footer{
                width: 90%;
                font-size: 20px;
            }
        }
        .bottom_footer{
            flex-direction: column;
            height: 55%;
        }
    }
}

@media(min-width:796px) and (max-width:1024px){
    footer{
        .top_footer{
            .contacts{ 
                width: 25%;
            }
            .nav_footer{
                width: 45%;
                font-size: 20px;
            }
        }
        .bottom_footer{
            width: 90%;
        }
    }
}