.art_sec{
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15vh;
    .art_nav{
        height: 20%;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        .btn_all{
            width: 50%;
            height: 100%;
            background-color: #0D0D0E;
            border: none;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            div{
                width: 50%;
                height: 60%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-start;
                font-size: 18px;
                .btn_view{
                color: rgba(212, 0, 179, 1);
            }
            }
            
        }
        .btn_all.active{
            background-color: rgba(38, 38, 39, 1);
        }
        .btn_popular{
            width: 50%;
            height: 100%;
            background-color: #0D0D0E;
            border: none;
            color: white;
            font-size: 52px;
        }
        .btn_popular.active{
            background-color: rgba(38, 38, 39, 1);
        }
    }
    .art_div{
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        align-self: center;
        background-color: #262627;;
        .art_ul{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            height: 90%;
            width: 80%;
            li{
                height: 65%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items:  center ;
                position: relative;
                h5{
                    font-size: 32px;
                }
                button{
                    background-color: rgba(212, 0, 179, 1);
                    height: 40px;
                    width: 143px;
                    color: white;
                    font-size: 26px;
                    border: none;
                }
                .profile_pic{
                    position: absolute;
                    top: 38%;
                    display: flex;
                    z-index: 1;
                    align-self: center;
                    width: 100px;
                    height: 100px;
                }
                .bg_pic{
                    display: flex;
                    position: relative;
                    z-index: 0;
                }
            }
        }
    }
}

@media(min-width:300px) and (max-width:450px){
    
    
   .art_sec{
    height: 120vh;
        .art_nav{
            height: 15vh;
            .btn_popular{
                h3{
                    font-size: 30px;
                }
            }
            .btn_all.active{
                div{
                    width: 80%;
                    .btn_view{
                    flex-direction: row;
                    }
                    .btn_textt{
                        font-size: 10px;
                    }
                
                }
                
            }
            .btn_all{
                div{
                    width: 80%;
                    .btn_view{
                    flex-direction: row;
                    }
                    .btn_textt{
                        font-size: 10px;
                    }
                
                }
                
            }
        }
        .art_div{
            .art_ul{
                display: flex;
                flex-direction: column;
                li{
                    height: 30vh;
                }
            }
        }
   
   }
   
    
}

@media(min-width:451px) and (max-width:1023px){
    
    
   .art_sec{
    height: 120vh;
        .art_nav{
            height: 15vh;
            .btn_popular{
                h3{
                    font-size: 30px;
                }
            }
            .btn_all.active{
                div{
                    width: 80%;
                    .btn_view{
                    flex-direction: row;
                    h4{
                        font-size: 20px;
                    }
                    }
                    .btn_textt{
                        font-size: 14px;
                    }
                
                }
                
            }
            .btn_all{
                div{
                    width: 80%;
                    .btn_view{
                    flex-direction: row;
                    }
                    .btn_textt{
                        font-size: 10px;
                    }
                
                }
                
            }
        }
        .art_div{
            .art_ul{
                display: flex;
                flex-direction: column;
                li{
                    height: 30vh;
                }
            }
        }
   
   }
   
    
}


@media(min-width:1024px) and (max-width:1025px){
    
    
   .art_sec{
    height: 190vh;
        .art_nav{
            height: 22vh;
            .btn_popular{
                h3{
                    font-size: 30px;
                }
            }
            .btn_all.active{
                div{
                    width: 80%;
                    .btn_view{
                    flex-direction: row;
                    width: 30%;
                    h4{
                        font-size: 20px;
                    }
                    }
                    .btn_textt{
                        font-size: 14px;
                    }
                
                }
                
            }
            .btn_all{
                div{
                    width: 80%;
                    .btn_view{
                    flex-direction: row;
                     width: 30%;
                    }
                    .btn_textt{
                        font-size: 14px;
                    }
                
                }
                
            }
        }
        .art_div{
            .art_ul{
                display: flex;
                flex-direction: column;
                li{
                    height: 30%;
                }
            }
        }
   
   }
   
    
}
