.trend_sec{
    width: 80%;
    height: 280vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 15vh;
    margin-bottom: 15vh;
    .trend_title{
        width: 35%;
        height: 15vh;
        display: flex;
        flex-direction: column;
        align-self: flex-start;
        justify-content: space-between;
    }
    ul{
         display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        height: 100%;
        width: 100%;
        li{
            width: 50%;
            display: flex;
            align-self: flex-end;
        }
        .trend_card{
            height: 557px;
            width: 552px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            h5{
                font-size: 31px;
            }
            .text_card{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                p{
                    color: rgba(196, 196, 196, 1);
                    font-size: 16px;
                    span{
                        color: rgba(212, 0, 179, 1);
                    }
                }
                
            }
            .img_cards{
                position: relative;
                width: 557px;
                height: 450px;
                .w_card{
                    position: absolute;
                    bottom: 10%;
                    right: 10%;
                }
                .bg_card{
                    width: 100%;
                    height: 100%;
                }
            }
        }
        .trend_btn{
            display: flex;
            flex-direction: row;
            align-items: flex-end;
            justify-content: flex-end;
            width: 60%;
            height: 5%;
            button{
                width: 154px;
                height: 100%;
                background-color: #0D0D0E;
                border: none;
                color: rgba(212, 0, 179, 1);
                font-size: 18px;
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                justify-content: flex-end;
                img{
                    margin-bottom: 10px;
                    display: flex;
                    align-self: flex-start;
                }
            }
        }
    }
}

@media(min-width:320px) and (max-width:425px){
    .trend_sec{
        height: 300vh;
        ul{
            .trend_title{
                width: 90%;
            }
            .trend_card{
                height: 40vh;
                width: 80vw;
                .img_cards{
                    width: 350px;
                }
             }
            .trend_btn{
                height: 5vh;
            }
        }
    }
    
}

@media(min-width:426px) and (max-width:768px){
    .trend_sec{
        height: 390vh;
        width: 80%;
        align-items: center;
        ul{
            .trend_title{
                width: 100%;
                height: 5%;
                p{
                    font-size: 25px;
                }
            }
            .trend_card{
                height: 55vh;
                width: 450px;
                display: flex;
                align-self: center;
                .img_cards{
                    width: 450px;
                }
             }
            .trend_btn{
                height: 5vh;
                display: flex;
                align-self: center;
            }
        }
    }
    
}

@media(min-width:769px) and (max-width:1024px){
    .trend_sec{
        height: 250vh;
        width: 90%;
        align-items: center;
        ul{
            .trend_title{
                width: 40%;
                
                height: 9%;
                p{
                    font-size: 20px;
                }
            }
            .trend_card{
                width: 45%;
                height: 500px;
                .img_cards{
                    width: 368px;
                    height: 350px;;
                }
             }
            .trend_btn{
                height: 10vh;
                width: 40%;
            }
        }
    }
    
}